<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d.rxnet">

    <application
        android:name="com.d.rxnet.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.d.rxnet.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.d.rxnet.activity.Get"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.d.rxnet.activity.Post"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.d.rxnet.activity.Download"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.d.rxnet.activity.Upload"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>